﻿<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.0.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
<link rel="stylesheet" href="~/build/app.css">
<script type="text/javascript" src="~/build/index.js"></script>

